.THIS {
}

.THIS .warn-file{
    color: red;
    margin-top: 5px;
    font-size: small;
    font-weight: medium;
}

.THIS .succes-file{
    width: 100%;
    padding: 20px 0px 20px 0px;
    border: black;
    border-width: 5px;
    margin-top: 10px;
}

.THIS .title{
    color: black;
    font-weight: bold;
    size: 14px;
}

.THIS.custom-spinner-container {
    position: relative;
    height: 50px; 
}
.THIS.custom-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.THIS .card-success-file{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.2); 
    background-color: #fff; 
    border-radius: 5px;
    
    
}