:host {
  --slds-c-card-color-background: var(--c-example-grey);
}
.category{
	width: 30%;
    position: relative;
    left: 65%;
    top: -35px;
}
.outputunderline{
	 text-decoration-line: underline;
	 width: 125px;
	 overflow-wrap: break-word;
}
.checkboxmarin{
    position: relative;
    right: -5px;
}