.selected-values {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pill {
    display: flex;
    align-items: center;
    background-color: #f3f2f2;
    border: 1px solid #d8dde6;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 2px;
}

.remove-icon {
    margin-left: 5px;
    cursor: pointer;
}