/* .th-base-color {
    background-color: #0176D3; 
    color:#ffffff
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

.slds-table {
    table-layout: fixed;
    width: 100%;
}

.slds-table th, .slds-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 8px;
    text-align: center;
    vertical-align: middle;

}

.small-column {
    width: 55px;
    max-width: 55px;
    min-width: 55px;
}

.slds-tabs_scoped__item {
    border: none;
}

.slds-tabs_scoped__content {
    border: none;
}


.slds-tabs_scoped {
    padding: 0;
    margin: 0;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.padding-right{
    padding-right: 0.5rem;
}

.slds-table th {
    text-align: center;
} */


.th-base-color {
    background-color: #0176D3; 
    color: #ffffff;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

.slds-table {
    table-layout: fixed;
    width: 100%;
}

.slds-table th, .slds-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 8px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.small-column {
    width: 55px; 
    max-width: 55px;
    min-width: 55px;
}

.slds-tabs_scoped__item {
    border: none;
}

.slds-tabs_scoped__content {
    border: none;
}

.slds-tabs_scoped {
    padding: 0;
    margin: 0;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.padding-right {
    padding-right: 0.5rem;
}

.slds-table th {
    text-align: center;
}

/* hover effect */
.slds-table th:hover {
    white-space: normal; 
    overflow: visible; 
    text-overflow: clip; 
}

.slds-table td:hover {
    white-space: normal; 
    overflow: visible;   
    text-overflow: clip; 
    background-color: #fff; 
}