.THIS .form-container {
    padding: 1rem;
}

.THIS .slds-form-element {
    margin-bottom: 1rem;
}

.THIS .slds-form-element__label {
    font-weight: 500;
}

.THIS .slds-modal__footer {
    border-top: 1px solid #d9dbdd;
    padding: 1rem;
}