.timer-normal {
    font-size: 2.5rem;
    font-weight: bold;
    color: #80c9f9;
}

.timer-violated {
    color: red;
    font-weight: bold;
    font-size: 18px;
    
}

.violation-text {
    color: #f28b82;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.timer-container h1.timer-violated {
    animation: pulse 1s infinite;
}

.card-sosmed-target p.timer-violated{
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.completed-text {
    color: #4caf50; /* Green color for completed state */
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.violation-text {
    color: #f44336; /* Red color for violations */
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.error-text {
    color: #f28b82; /* Pinkish-red for error messages */
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.card-sosmed-title{
    size: 25px;
    font-weight: bold;
    color: black;
}

.card-sosmed-orgin{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

.card-sosmed-target{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
    padding: 8px;
    background-color: #F3F3F3;
    border-radius: 8px;
}


.card-sosmed-penyelesaian{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    padding: 8px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

.card-sosmed-title-content{
    color: #0B5CAB;
    font-weight: normal;
    font-size: 14px;
    font-weight: 600;
}

.card-sosmed-content{
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.card-sosmed-content-error{
    color: red;
    font-weight: 400;
    font-size: 18px;
}