:host {
    margin: -1rem !important;
    display: block; 
    width: 100%;
}
.slds-scrollable_x{
    margin-top: -2rem !important;
}

.slds-cell-wrap {
    white-space: normal;
    word-wrap: break-word;
}
.lookup-cell-adjust {
    margin-top: -20px !important;
}
.lookup-cell-adjust-down {
    margin-top: 20px !important;
}

.navigationBar {
    padding: 0.75rem 1rem 0.75rem 1rem; 
    /* border-top: 2px solid rgb(229, 229, 229); 
    background: rgb(243, 243, 243);  */
}
.slds-button {
    margin: 0 0.25rem;
}

footer.slds-modal__footer{
    background-color: white !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}