.custom-table {
    border-collapse: collapse !important;
}

.custom-header {
    background-color: #0070d2 !important;
    color: white !important;
    padding: 0.5rem !important;
    border: 1px solid #dddbda !important;
}

.custom-cell {
    border: 1px solid #dddbda !important;
    padding: 0.5rem !important;
}

.custom-row:first-child td {
    background-color: #0070d2 !important;
    color: white !important;
}