.THIS .slds-path__nav {
    pointer-events: none !important;
}
.THIS .slds-path__nav .slds-is-complete .slds-path__title {
    transform: rotateX(360deg) !important;
}
.THIS .slds-path__nav .slds-is-complete .slds-path__stage {
    visibility: hidden !important;
}
.THIS .slds-button.slds-button_icon.slds-button_icon-border-filled.slds-path__trigger.uiButton {
    display: none !important;
}
.THIS .slds-grid.slds-path__action.runtime_sales_pathassistantPathAssistantHeader {
    display: none !important;
}
.THIS .slds-path__content {
    display: none !important;
}