.slds-table tbody tr td {
    padding: 0.2rem 0.5rem;
    line-height: 1;
    height: 30px;
}

.full-width-input {
    width: 100%;
    font-size: 12px; 
}

.full-width-input .slds-input {
    height: 25px;
    padding: 0 5px;
}

.slds-table tbody tr td.slds-text-align_center {
    vertical-align: middle; 
}
.slds-scrollable_x{
    margin-top: -2rem !important;
}
footer.slds-modal__footer{
    background-color: white !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}