/* avayaDashboard.css */
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

iframe {
    border: 1px solid #dddbda;
    border-radius: 4px;
}