.custom-adjust-deposit-modal {
    height: 90vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-container {
    min-height: 80vh !important;
    max-height: 90vh !important;
    width: 60vw !important;
}

.custom-modal-content {
    max-height: 75vh;
    overflow-y: auto;
}