.THIS label.uiLabel {
    padding-right: 12px;
}
.THIS .right-align input, .THIS .right-align {
    text-align: right;
}

.THIS .left-align input, .THIS .left-align {
    text-align: left;
}

.THIS .field {
    padding: 5px;
    border: 1px solid #dce4ec;
    border-radius: 2px;
}
.THIS thead th {
    background-color: #063970;
    color: #dce4ec;
}
.THIS th {
    text-align: center;
}
.THIS th.match {
    background-color: #abaaab;
}
.THIS th.unmatch {
    background-color: #f4bbff;
}
.THIS th.debit {
    background-color: #fdc795;
}
.THIS th.kredit {
    background-color: #9bb87b;
}
.THIS.hide {
    display: none;
}

.THIS.btn {
    margin-bottom: 10px;
}

.THIS textarea {
    border: 1px solid #dce4ec;
    border-radius: 4px;
    width: 200px;
}

/* Additional code by : Herbing */
.THIS .green-row {
    background-color: #9bb87b; /* green */
}
.THIS .yellow-row {
    background-color: #fdc795; /* yellow */
}

.THIS .yellow2-row {
    background-color: #ffde21; /* yellow */
}

.THIS .customModalWidth {
    width: 80%; /* Set the width to whatever value you need */
    max-width: 70rem; /* Optional: You can also set a maximum width */
}

.THIS .stickySearch {
    position: sticky; /* Makes the search bar sticky */
    top: 0; /* Keeps it at the top */
    background: white; /* Adds a background to avoid overlapping content when scrolling */
    z-index: 1; /* Ensures it stays on top of other content */
    width: 100%; /* Takes full width of its container */
    padding-bottom: 10px; /* Adds space below the search bar */
}

.THIS .stickySearch lightning-input {
    width: 25%; /* Set the input width to 25% */
    float: right; /* Align the input to the right */
}

.THIS .scrollerSize {
    max-height: 500px; /* Adjust this value to make the content scrollable */
    overflow-y: auto; /* Enable vertical scrolling */
}