.large-text {  
    font-size: 12px; 
    min-height: 20px;
    display: block; 
}  
  
.dashed-divider {  
    border: none;  
    border-top: 1px dashed #d8dde6;  
    margin: 1rem auto;  
    width: 95%;  
}  
  
.custom-card {  
    border: 1px solid #ccc;  
    border-radius: 5px;  
}