.input-container-disabled lightning-textarea {
    color: #747474;
}

.edit-align {
    margin-top: 1.375rem; /* Adjust this value as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-icon {
    cursor: pointer;
}

.green-icon .slds-icon {
    fill: green; /* Set the icon color to green */
    color: green; /* This might also be needed to ensure the color applies */
}

.span-icon-alignment{
    /* z-index: 1; */
    right: 0.5rem; 
    top: 0.5rem; 
    cursor: pointer;
}

.spinner-input {
    right: 0.8rem;
}

/* .slds-input__icon-group .slds-spinner{
    right: 0.2rem;

} */